section.create {
    position: relative;
    background: #f1f1f1;;
    padding: 15px;
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        z-index: 100;
        font-size: 5rem;
    }

    form {
        .quill {
            background: white;
        }

        button {
            float: right;
            @include button();
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
}