section.show {
    article {
        .title {
            font-weight: bold;
            font-size: 1.75rem;
            margin-bottom: 30px;
        }
    
        .desc {
            color: #777;
        }
    }

    .reply_section {
        &::before {
            content: '';
            border-top: 1px solid #eee;
            display: block;
            margin: 30px 0;
        }

        .comment_list {
            list-style: none;
            padding: 0;

            > li {
                position: relative;
                display: block;
                border:2px solid #f4e1e1;
                box-sizing: border-box;
                min-height: 100px;
                padding: 30px;
                background: #ffeac9;

                &:not(:first-child) {
                    margin-top: 15px;
                }

                .name {
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    color: #555;
                    font-size: 0.8rem;
                }

                .at {
                    position: absolute;
                    right: 3px;
                    bottom: 3px;
                    color: #555;
                    font-size: 0.8rem;
                }
            }
        }

        h3 {
            font-weight: bold;
            font-size: 1.2rem;
        }
        form {
            background: #f1f1f1;
            display: block;
            padding: 15px;
            box-sizing: border-box;

            button {
                float: right;
                @include button();
            }

            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }
        
    }
    
}